<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'cookbook:index' %}">
            <i class="fas fa-utensils"></i> CookBook
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cookbook:recipe-list' %}">
                        <i class="fas fa-book-open"></i> Recipes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cookbook:category-list' %}">
                        <i class="fas fa-list"></i> Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cookbook:tag-list' %}">
                        <i class="fas fa-tags"></i> Tags
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cookbook:recipe-create' %}">
                            <i class="fas fa-plus-circle"></i> Add a recipe
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-user-circle"></i> {{ user.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                                    <i class="fas fa-user"></i> My profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'accounts:profile-update' %}">
                                    <i class="fas fa-edit"></i> Edit profile
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form method="post" action="{% url 'accounts:logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">
                                        <i class="fas fa-sign-out-alt"></i> Log out
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}">
                            <i class="fas fa-sign-in-alt"></i> Log in
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:signup' %}">
                            <i class="fas fa-user-plus"></i> Registration
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
